
  .table{
    table-layout:auto;
    width:90%;
    margin :100px 20px 50px 2000px;
    padding: 10px 15px;
}   
.table{
    table-layout:auto;
    width:90%;
    margin :100px 20px 50px 200px;
    padding: 10px 15px;
} 

.table, th,td
 {
            border:2px solid black;
            padding: 8px 12px;           
            background-color:#f3f3f3;
}
 
         .th{
            background-color:#708090;
            text-align:center;
            color:white;
        }
       .table, td:hover{
            text-align:center;
            background:white;
        }
       .tr:nth-child(even):hover{
            background-color:pink;
            color:#191970;
        }
        .tr:nth-child(odd):hover{
            background-color:pink;
            color:#008080;
        }
