body {
    width: 50%;
    background-image: url('Photos/rafael.jpg');
    background-size: cover;
}

.text {
    margin-top: 120px;
    margin-bottom: 30px;
    margin-left: 20px;
}

footer {
    position: absolute;
    height: 50px;
    width: 100%;
    left: 0;
    background-color: brown;
    color: white;
    text-align: center;
}

.space {
    margin-top: 250px;
}

form {
    margin-top: 100px;
    text-align: center;
}

.space2 {
    margin-top: 500px;
}